.env*
!.env.example
.next/
.next-playwright/
node_modules/
out/
coverage/
playwright-report/
storybook-static/
test-results/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
